<div id="header">
    <div class="logo">
      <img src="../../../assets/image/header/logo.png" alt="">
    </div>  
    <nav>
      <form class="search" > 
        <input name="q" placeholder="Search..." type="search">
      </form>


      <ul>
        <li>
          <a routerLink="Home">Home</a>
        </li>
        <li>
          <a routerLink="dist" >District</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ul class="mega-col">
                <li><a href="#">Thivandrum</a></li>
                <li><a href="#">Kollam</a></li>
                <li><a href="#">Pathanamthitta</a></li>
                <li><a href="#">Alappuzha</a></li>
              </ul>
              <ul class="mega-col">
                <li><a href="#">Kottayam</a></li>
                <li><a href="#">Idukki</a></li>
                <li><a href="#">Ernakulam</a></li>
                <li><a href="#">Thrissur</a></li>
              </ul>
              <ul class="mega-col">
                <li><a href="#">Palakkad</a></li>
                <li><a href="#">Malappuram</a></li>
                <li><a href="#">Wayanad</a></li>
                <li><a href="#">Kozhikode</a></li>
              </ul>
              <ul class="mega-col">
                <li><a href="#">Kannur</a></li>
                <li><a href="#">Kasaragod</a></li>
               
              </ul>
            </li>
          </ul>        
        </li>
        <li>
          <a routerLink="Signup" href="">Sign-Up</a>
        </li>
        <li>
          <a routerLink="Contact" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>