<div class="container mt-5">

    <div class="row">

        <div class="col " *ngFor="let i of database">

            <div class="container text-center" >

        <div class="card" style="width: 18rem;">

            <img src="{{i.image}}" class="card-img-top" alt="...">

            <div class="card-body">

              <h5 class="card-title">{{i.District}}</h5>

              <p class="card-text">{{i.description}}</p>

              <a (click)="gotohere(i.District)" class="btn btn-primary">for more</a>
               

            </div>

          </div>

    </div>

    </div>

    </div>